
@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  background: rgb(55, 150, 227);
  font-family: "Roboto", sans-serif;

	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}


@keyframes backgroundColorPalette {
	0% {
		background: rgb(55, 150, 227);
	}
	25% {
		background: rgb(101, 169, 224);
	}
	50% {
		background: #95bdde;
	}
	75% {
		background: #c6a1ed;
	}
	100% {
		background: #a981d4;
	}
}

@keyframes colorPalette {
	0% {
		color: rgb(55, 150, 227);
	}
	25% {
		color: rgb(101, 169, 224);
	}
	50% {
		color: #95bdde;
	}
	75% {
		color: #c6a1ed;
	}
	100% {
		color: #a981d4;
	}
}
  
.topnav {
    background-color: #ddd;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
    
    /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: rgb(55, 150, 227);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;

    animation-name: colorPalette;
	  animation-duration: 5s;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  animation-timing-function: linear;
}
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #ddd;
      color: black;
    }
  
    .flexwrapper {
        display: flex;
        flex-direction: column;
        padding: 70px;
        flex-basis: auto;
        row-gap: 20px;
      }
  
      .flexone {
        text-align: center;
      }

      .flextwo {
        background-color: white;
        box-shadow: 5px 10px 8px #d6d6d6;
      }
  
      @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
      }

    .genfact {
      background-color: rgb(35, 123, 203);
      border: none;
      color: white;
      padding: 35px 60px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      position: static;
      border-radius: 4px;
    }
    .genfact:hover {
      background-color: rgb(25, 113, 185);
    }
    .fact {
      text-align: center;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }